.header__lang-ru {
    margin: 0;
    color: white;
    max-width: 30px;
    text-decoration: none;
}

@media (max-width:320px) {
    .header__lang-ru {
        max-width: 22px;
    }
}

.header__lang-ru:hover {
    text-decoration-line: underline;
}